// app global css

*
  font-family: Century gothic
  color: #FFFFFF
  //text-shadow: 0px 0px 2px

.text-align-center
  text-align center

.flex-center-content
  display flex
  align-items center
  justify-content center


// background
.bg-light-accent
  background-color $light-accent

// height
.height-800
  height 800px

// margins
.m-2
  margin 1.5rem

.mb-0
  margin-bottom 0

.mb-1
  margin-bottom 1rem

.mb-2
  margin-bottom 1.5rem

.mb-10
  margin-bottom 5rem

.mt-0
  margin-top 0

.mt-1
  margin-top 1rem

.mt-2
  margin-top 1.5rem

.mt-3
  margin-top 2rem

.mt-5
  margin-top 5rem

.mt-10
  margin-top 10rem

.ml-0
  margin-left 0

.ml-1
  margin-left 1rem

.ml-2
  margin-left 2rem

.mr-0
  margin-right 0

.mr-1
  margin-right 1rem

.mr-2
  margin-right 2rem

// paddings
.p-0
  padding 0

.p-1
  padding 1rem

.p-2
  padding 2rem

.pt-0
  padding-top 0

.pt-1
  padding-top 1rem

.pt-2
  padding-top 2rem

.pb-0
  padding-bottom 0

.pb-1
  padding-bottom 1rem

.pb-2
  padding-bottom 2rem

// color classes
.text-light-accent
  color $light-accent

.bg-light-accent
  color $light-accent
